{% extends 'base.html' %} {% load static %} {% block content %}

<table class="table table-striped table-hover table-responsive-sm">
    <tr>
        <th>
            <th>PRODUCTO</th>
            <th>DESCRIPCION</th>
            <th>IMAGEN</th>

        </th>
    </tr>
    {% for p in productos2 %}

    <tr>
        <td>{{ p.name | title}}</td>
        <td>{{ p.descripcion | title}}</td>
        <td><img src="{{ p.imagen.url }}" alt="160x160"></td>




    </tr>



    {% endfor %}
</table>



{% endblock %}